---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'About your blog.';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>About</h1>
    <figure class="about-image">
      <img src="/assets/about-illustration.webp" alt="Illustration of a notebook" width="330">
      <figcaption>
        Illustration by
        <a href="https://icons8.com/illustrations/author/5c07e68d82bcbc0092519bb6" target="_blank" rel="noopener">Icons 8</a>
        from
        <a href="https://icons8.com/illustrations" target="_blank" rel="noopener">Ouch!</a>
      </figcaption>
    </figure>
    <p>Mitch Mitchell is a lawyer and creator. He is certified as a specialist in Estate Planning and Probate Law by the Texas Board of Legal Specialization.</p>
    <p>In a decade of private practice, Mitch prepared wills and incapacity planning documents for hundreds of clients. While still in private practice, Mitch also developed a web app for his clients to prepare a simple will-based estate plan (the web app has since been retired). In addition, he helped families navigate probate after the death of a loved one.</p>
    <p>Mitch is a sometimes-writer, runner, and reader of fiction. He is married to Sara, who is an author and poet. Together they parent three girls. They live on a farm in East Texas with three cats, various waterfowl, guineafowl, chickens, and a Great Pyrenees named Clover.</p>
    <p>Mitch has a handful of online projects that he develops in his spare time, including <a href="https://electronicwills.org">electronicwills.org</a>.</p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
