<div>
  <img src="/assets/profile-pic.webp" alt="Headshot of Maxi Ferreira">
  <p>
    Hi, I’m <strong>Mitch</strong>. I’m a lawyer and creator. I live in East Texas.
    You can follow me on <a href="https://www.github.com/mitch-mitchell" target="_blank">GitHub</a>
    or learn more about one of my passions, <a href="https://electronicwills.org" target="_blank">electronic wills</a>.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
